<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="http://localhost:8080/node_modules/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="styles/foundation.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div
            class="healthbar text-center"
            style="background-color: green; margin: 0; color: white;"
            :style="{width: player.health + '%'}">
            {{ player.health }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div
            class="healthbar text-center"
            style="background-color: green; margin: 0; color: white;"
            :style="{width: monster.health + '%'}">
            {{ monster.health }}
          </div>
        </div>
      </div>
    </section>
    <section class="row controls" v-if="!game.isRunning">
      <div class="small-12 columns">
        <button id="start-game" @click="startGame">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls" v-else>
      <div class="small-12 columns">
        <button id="attack" @click="attack">ATTACK</button>
        <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
        <button id="heal" @click="heal">HEAL</button>
        <button id="give-up" @click="giveUp">GIVE UP</button>
      </div>
    </section>
    <section class="row log" v-if="game.turns.length > 0">
      <div class="small-12 columns">
        <ul v-for="turn in game.turns">
          <li :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
            {{ turn.text }}
          </li>
        </ul>
      </div>
    </section>
  </div>
</body>

<footer>
  <script src="app.js"></script>
</footer>

</html>